/* Empty. Add your own CSS if you like */
.has-footer {
  bottom: 85px;
}


body {
    overflow: hidden;
    color: white;
    background: #210074; /* Old browsers */
    background: -moz-linear-gradient(top,  #210074 0%, #9400d8 100%, #207cca 100%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #210074 0%,#9400d8 100%,#207cca 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #210074 0%,#9400d8 100%,#207cca 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#210074', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

#main {
    margin-top: 20px;
    height: 100%;
}

#logo {
    margin-right: 10px;
}

#logo-text {
    display: inline;
    color: white
}

section p {
    color: #DDDDDD;
}

section i {
    margin-right: 8px;
}

p {
    font-size: 12px;
}

#head {
    background-color: #6a00b4;
    padding: 10px;
    padding-left: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

@media (max-width: 1000px) {
    body {
        background-size: cover;
        background-image: url('img/splash-zoom.jpg');
    }
    
    #head {
        opacity: .9;
    }
}
