<ion-view view-title="Search">
  <ion-content>
    <form ng-submit="search()">
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input ng-model="data.query" type="search" placeholder="Search">
        </label>
        <button type="submit" class="button button-small">
          Search</button>
          <!-- <button class="button button-clear">
          Cancel
        </button> -->
      </div>
    </form>

    <div>

      <div class="list">
        <div class="item item-divider">
          Albums
        </div>
        <div ui-sref="app.album({ artist: data.artist.id, album: album.id })" ng-repeat="album in data.albums" class="item item-thumbnail-left">
          <img ng-src="{{album.images[0].url}}">
          <h2>{{album.name}}</h2>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
