<ion-view view-title="Login">
  <ion-content>
    <br><br>
    <form ng-submit="login(data)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="data.email" autofocus>
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="data.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
