<ion-view view-title="Settings">
  <ion-content>
    <div class="list">

      <!-- <div ng-show="Config.isDesktopApp" class="item item-divider">
        System
      </div>

      <a ng-show="Config.isDesktopApp" class="item item-icon-left" href="#/app/download">
        <i class="icon ion-ios-cloud-download"></i>
        Downloads
      </a>

      <div class="item item-divider">
        Metadata Service
      </div>

      <li ng-show="Config.isAppConfigurable" class="item item-toggle item-icon-left">
        <i class="icon ion-android-cloud"></i>
        Spotify
        <label class="toggle toggle-positive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

      <a ng-show="Config.isAppConfigurable" class="item item-icon-left" href="#/app/musicbrainz">
        <i class="icon ion-android-cloud"></i>
        Musicbrainz
      </a> -->

      <a ng-show="Config.isAppConfigurable" class="item item-icon-left" href="#/app/storage">
        <i class="icon ion-android-cloud"></i>
        Storage
      </a>

      <a ng-show="Config.isAppConfigurable" class="item item-icon-left" href="#/app/download">
        <i class="icon ion-arrow-down-a"></i>
        Download
      </a>

    </div>
  </ion-content>
</ion-view>
