
<style>
  ion-content {
    color: white;
    background-image: url('img/splash-zoom.jpg');
  }
  bar-footer {
    display: none;
  }
</style>
<ion-view>
  <ion-content>
    <br><br><br><br><br>
    <center>
      <img src="icons/apple-touch-icon-144x144.png">
      <h1 style="color:white">onedrop.io</h1>
      <!-- <div>Don't leave your music in someone else's cloud</div><br> -->
      <button class="button button-positive" ui-sref="app.login">
          Try Me
      </button>
    </center>
  </ion-content>
</ion-view>
